body {font-family:'Montserrat', sans-serif;
    font-size: 18pt;
    background-color: #F8F4F1;}

header {height: 95px;
    background-color: #623A1D;
    color: #FFFFFF;
    position: fixed;
    display:flex;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    justify-content: center;}

.header {width: 95px;
    align-items: center;
    justify-content: center;}

.headerleft {display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    float: left;
    top: 23px;}

.headerright {float: right;}


a {text-decoration: none;}


footer {background-color: #623A1D;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    margin: auto;
    overflow: auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;}

footer section {width: 200px;
    padding: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;}

.floatleft {float: left;}

.floatleft p {font-size: 10pt;}


h1 {font-size: 100pt;
    font-family: 'Satisfy', cursive;
    color:#ffffff;}

.banner {width: 400px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: auto;}

h2 {font-family:'Montserrat', semibold;
    font-size: 14pt;
    color: #623A1D;}

#title {grid-column: 1/4;}


/*=items/descriptions=*/

.homebanner {display: flex;}

article {width:800px;
    margin: auto;
    margin-bottom: 20px;
    border: 2px solid #623A1D;
    color: #623A1D;}

article h1 {font-family:'Montserrat', bold;
    font-size: 18pt;
    color: #623A1D;
text-align: center;}

#espresso {display:grid;
grid-template-columns: 33% 33% 33%;}

.espresso img {width: 150px; 
height: 150px;}

.espresso p {font-size: 9pt;}

#espressofrappe {display:grid;
grid-template-columns: 33% 33% 33%;
grid-column: 1/4;}

.frappe img {width: 150px; 
height: 150px;}

.frappe p {font-size: 9pt;}

#hotdrinks {display:grid;
grid-template-columns: 33% 33% 33%;
grid-column: 1/4}

.hot img {width: 150px; 
height: 150px;}

.hot p {font-size: 9pt;}

#icedrinks {display:grid;
grid-template-columns: 33% 33% 33%;
grid-column: 1/4}

.iced img {width: 150px; 
height: 150px;}

.iced p {font-size: 9pt;}

#hottea {display:grid;
grid-template-columns: 33% 33% 33%;
grid-column: 1/4}

.tea img {width: 150px; 
height: 150px;}

.tea p {font-size: 9pt;}

#smoothies {display:grid;
grid-template-columns: 33% 33% 33%;
grid-column: 1/4}

.smoothies img {width: 150px; 
height: 150px;}

.smoothies p {font-size: 9pt;}

#sandwich {display:grid;
grid-template-columns: 33% 33% 33%;
grid-column: 1/4;}

.sandwich img {width: 150px; 
height: 150px;}

.sandwich p {font-size: 9pt;}

#salad {display:grid;
grid-template-columns: 33% 33% 33%;
grid-column: 1/4}

.salad img {width: 150px; 
height: 150px;}

.salad p {font-size: 9pt;}

#wrap {display:grid;
grid-template-columns: 33% 33% 33%;
grid-column: 1/4}

.wrap img {width: 150px; 
height: 150px;}

.wrap p {font-size: 9pt;}

#cookie {display:grid;
grid-template-columns: 33% 33% 33%;
grid-column: 1/4}

.cookie img {width: 150px; 
height: 150px;}

.cookie p {font-size: 9pt;}

#cheesecake {display:grid;
grid-template-columns: 33% 33% 33%;
grid-column: 1/4}

.cheesecake img {width: 150px; 
height: 150px;}

.cheesecake p {font-size: 9pt;}

#croissant {display:grid;
grid-template-columns: 33% 33% 33%;
grid-column: 1/4}

.croissant img {width: 150px; 
height: 150px;}

.croissant p {font-size: 9pt;}

#danish {display:grid;
grid-template-columns: 33% 33% 33%;
grid-column: 1/4}

.danish img {width: 150px; 
height: 150px;}

.danish p {font-size: 9pt;}

#scone{display:grid;
grid-template-columns: 33% 33% 33%;
grid-column: 1/4}

.scone img {width: 150px; 
height: 150px;}

.scone p {font-size: 9pt;}

#otis {display:grid;
grid-template-columns: 33% 33% 33%;
grid-column: 1/4}


.otis p {font-size: 9pt;}

.otis img {width: 150px; 
height: 150px;}

#bagel {display:grid;
grid-template-columns: 33% 33% 33%;
grid-column: 1/4}

.bagel img {width: 150px; 
height: 150px;}

.bagel p {font-size: 9pt;}


/*=menutable=*/

.menutable p {font-size: 10pt;
padding-left: 5px;}

.menutable h3 {font-size: 12pt;
padding-left: 5px;
text-decoration: none;}

.menutable {
    width:150px;
    border: 2px solid #623A1D;
    margin-bottom: 25px;
    margin-top: 25px;
    text-align: left;
    color: #623A1D;
float: left;}

/*=button=*/

button {background-color: #623A1D;
font-family:'Montserrat', sans-serif;
font-size: 10pt;
color: #ffffff;
width: 150px;
display: block;
margin-bottom: 10px;}

